{% extends "TestBlogBundle::layout.html.twig" %}


{% block title %}Mon Blog{% endblock %}

{% block contenu %}
<div class="container-fluid blogContainer-fluid">
  <div class="row">
    <div class="col-xs-12 text-center">
      <span class="landing-title"><h1> La source du Data Scientist</h1></span>
      <img class="imgBack" src="https://www.study.monash/__data/assets/image/0010/363097/Data-Science-Education-at-Monash-Monash-University.jpg" />
    </div>
  </div>
</div>
{% endblock %}

{% block script %}

{% endblock %}
