<!doctype html>
<html lang="fr">
<head>
  <title>
  {% block title %}
  Inscription
  {% endblock %}
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ asset("css/style.css") }}"
</head>
<body>
  <header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
          <div class="navbar-hearder">
            <a class="navbar-brand">My Blog</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ path('home') }}">Accueil</a></li>
            <li><a href="#">A propos</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a  href="{{ path('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
      </div>
    </nav>
  </header>
  {% block contenu %}

  {% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
  {% block script %}

  {% endblock %}
  </script>
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
      </br></br>
      <h1> Inscription </h1>
      </br></br>
  {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
</div>
</div>
</div>
</body>
</html>
